<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table table-striped">
    <thead>
      <th colspan="6" class="text-center text-light bg-danger bg-gradient h3">Rentals</th>
      <tr *ngIf="dataLoaded==true">
        <th>Id</th>
        <th>CarId</th>
        <th>CustomerId</th>
        <th>Rent Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <th>{{rental.id}}</th>
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
    </tbody>
  </table>
