<div style="text-align:center"  aria-current="true"><h4>Rentals listeleniyor</h4></div>
<table class="table">
   
    <thead>
        <tr>
        <th>#</th>
        <th>Araba Id</th>
        <th>Müşteri Id</th>
        <th>Tarih</th>
        <th>Kiralama Tarihi</th>
      </tr>
    </thead>
      <tr *ngFor="let rental of rentals">
        <th>{{rental.id}}</th>
        <td>{{rental.carId}}</td>
        <td>{{rental.customerId}}</td>
        <td>{{rental.rentDate}}</td>
        <td>{{rental.returnDate}}</td>
      </tr>
  </table>
